/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
  height: 100vh;
  width: 100vw;
  font-size: 100%;
}

body { 
  background-image: linear-gradient(#134d71 15%, #78a7c6, #f7e4bf);
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  margin: 1.125em;
}

h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.25em;
}

.box {
  background-color: #ffffff;
  border-radius: 10px;
}

#buttons {
  width: 28vw;
  padding: 0 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-buttons {
  height: 50%;
  width: 100%;
  padding: 0.5em 0.125em;
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}

input {
  height: 1.25rem;
  width: 1.25rem;
}

input:hover {
  border-width: 200px;
}

label {
  color: #000000;
  font-style: italic;
  font-size: 1.25rem;
  padding-left: 0.4em;
}

.submit-button-box {
  height: 50%;
  width: 65%;
  padding: 0.375em 1em 0.5em;
  display: flex;
  justify-content: center;
}

.submit-button {
  height: 100%;
  width: 100%;
  background-color: #134d71;
  color: #ffffff; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  border: 0;
  border-radius: 6px; 
  padding: 0.2em;
}

.submit-button:hover {
  background-color: #78a7c6;
}

#message-box {
  width: 65vw;
  height: 20vh;
  font-size: 1.5rem;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
  height: 55%;
}

.hidden {
  display: none;
}

.error-box {
  height: 5vh;
  width: 40vw;
  background-color: #f7e4bf;
  border-radius: 10px;
  padding: 0.25em;
  margin: 2em;
  display: flex;
  align-items: center;
}

.error {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  margin: 0.125em 0.75em;
}

.invisible {
  visibility: hidden;
}

.clear-box {
  display:flex;
  justify-content: center;
}

.clear-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.125rem;
  padding: 0.375em 0.5em;
  border-color: #ffffff;
  border-width: 0;
  border-radius: 8px;
  width: 100%;
  margin-top: 1em;
  opacity: 0.75;
}

.clear-button:hover {
  background-color: #78a7c6;
}

/* XL Screen View */
@media screen and (min-width: 1200px) {
  #buttons {
    width: 20%;
  }

  .error-box {
    width: 25vw;
  }
}

/* Small Laptop View */
@media screen and (max-width: 1200px) {
  #buttons {
    width: 35%;
  }
}

/* Tablet View */
@media screen and (max-width: 960px) {
  html {
    font-size: 75%;  
  }  
}

/* Mobile View */
@media screen and (max-width: 700px) {
  #buttons {
    width: 50%;
    padding: 0 2em;
  }
  
  .radio-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .radio {
    width: 75%;
    padding-left: 2em;
  }

  .submit-button-box {
    width: 80%;
  }

  .error-box {
    width: 60vw;
  }
}

@media screen and (max-width: 323px) {
  h1 {
    font-size: 1.95rem;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
}

.reset {
  animation-name: none;
}

.pause {
  animation-play-state: paused;
}